.container-fluid
  .row
    .header(style="padding-top: 200px;padding-bottom: 200px")
      .navbars
        nav
          ul
            li
              hr
              a(href="" ng-click="goto('mobile')" translate="") sections.mobile 
            li
              hr
              a(href="" ng-click="goto('web')" translate="") sections.web 
            li.hidden
              a(ng-click="goto('graphic')" translate="") sections.graphic
            li(d)
              hr
              a(href="" ng-click="goto('contact')" translate="") sections.contact
        nav.lang-selector
          span 
            a(ng-click="changeLang('es')" href="") Espa&ntilde;ol 
            span / 
            a(ng-click="changeLang('en')" href="") English 
            span /
            a(ng-click="changeLang('no')" href="") Norsk 
      .text-center
        .logo
          img(src="assets/logo.png")
        
    .clearfix    
    article#category
      .container
        .row
          .col-xs-2
           
          .col-xs-8  
            p.text-center(style="margin-top: 40px")
              a.tag(ng-repeat="tag in products.tags" ng-class="{active: selectedTag==tag}" href="#category/{{tag}}") {{'tag.'+tag | translate}}
          .col-xs-2
        .col-xs-12.col-sm-6.col-lg-3(ng-repeat="product in products.all | filter:filterTag")
          .product
            .text-center
              a(href="#product/{{product.name | lowercase}}")
                img(src="{{product.thumbnail}}")
            br
            .text-center {{product.name}}
        .clearfix
    