.navbars
  nav
    ul
      li(ng-class="{active: products.product.type == 'mobile'}")
        hr
        a(href="" ng-click="goto('mobile')" translate="") sections.mobile 
      li(ng-class="{active: products.product.type == 'web'}")
        hr
        a(href="" ng-click="goto('web')" translate="") sections.web
      li.hidden
        a(href="#" translate="") sections.graphic
      li
        hr
        a(href="" ng-click="goto('contact')" translate="") sections.contact
  nav.lang-selector
    span 
      a(ng-click="changeLang('es')" href="") Espa&ntilde;ol 
      span / 
      a(ng-click="changeLang('en')" href="") English 
      span /
      a(ng-click="changeLang('no')" href="") Norsk 
div(style="background-color:{{products.product.headerColor}}")
  .header-product(style="background-image: url('{{products.product.header}}')" ng-class="{'container-fluid': products.product.fullWidth, 'container': !products.product.fullWidth}")
.container
  h2.text-center {{products.product.name}}
  p.text-center.description
    strong {{products.product.description | translate}}
  .row
    .col-xs-2
    
    .col-xs-8  
      p.text-center
        a.tag(ng-repeat="tag in products.product.tags" href="#category/{{tag}}") {{'tag.'+tag | translate}}
    .col-xs-2

  hr.product-separator
  .product-img
    img.img-responsive(src="{{products.product.image}}-{{lang}}.png")
  a.back(href="#/")
    strong &lt;
    span(translate="") product.goback
.decorator-container
  .product-decorator